body {
  margin: 20px;
  padding: 20px;
  background-color: #f7f7f7;
}

#title {
  font-family: 'Tapestry', cursive;
  font-weight: 900;
}

#wisdoms {
  width: 60vmax;
  height: auto;
  background-color: #d9d7f1;
  margin: 20px 10px;
  padding: 15px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.466);
  border-radius: 2%;
}

.container {
  position: relative;
  background-color: #f7f7f7;
  margin: 10px 3px;
  padding: 15px;
  border-radius: 1%;
  transition: transform 0.2s;
  box-shadow: 5px 10px 15px rgba(65, 64, 64, 0.386);
}

.container:hover {
  transform: scale(1.1);
  background-color: #ffcbcb;
  border: 1px solid rgba(0, 0, 0, 0.153);
}

.deleteIcon {
  position: absolute;
  right: 5px;
  top: 5px;
}

.deleteIcon:hover {
  color: red;
}
